<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--오라클 DB연결 정보 입력  -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbd:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="hr" />
		<property name="password" value="1111"/>
	</bean>
	<!-- 스프링 DB처리 -->
	<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- DB처리에 사용할 클래스 DAO 객체 생성 -->
    <bean id="dao" class="com.hb.am.DAO">
    	<property name="template" ref="template" />
    </bean>	
</beans>